<div class="contenido_permisos text-center">
    <h1>Listado de Ventas</h1>
    <hr>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <button type="button" data-toggle="modal" data-backdrop="static" data-target="#modalRegistro" class="btn btn-success"><i class="fa fa-plus"></i> Nueva Venta</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <br>
                    <div class="table-responsive">
                        <table id="tabla-usuarios" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="text-center">Fecha</th>
                                    <th class="text-center">Cliente</th>
                                    <th class="text-center">Total Venta</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ventas">
                                    <td>{{item.fecha}}</td>
                                    <td>{{item.cliente | uppercase}}</td>
                                    <td>{{item.total | number : 2}}</td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>

<div class="modal fade bs-example-modal-lg" id="modalRegistro" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form id="frmVenta" class="form-horizontal form-label-left input_mask" ng-submit="registrarVenta();">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title text-center" id="myModalLabel">Registrar Pedido</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="x_panel" style="border: 0;padding: 0;margin: 0;">
                                <div class="x_content" style="margin: 0;">
                                    <div class="form-horizontal form-label-left input_mask">
                                        <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                            <div class="form-group">
                                                <label>CLIENTE</label>
                                                <input type="text" class="form-control" id="txtCliente" name="txtCliente" ng-model="venta.txtCliente" placeholder="Cliente" required="">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                            <div class="form-group">
                                                <label>FECHA</label>
                                                <input type="date" class="form-control" id="txtFecha" name="txtFecha" ng-model="venta.txtFecha" required="">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                            <div class="form-group">
                                                <label>MEZA</label>
                                                <select required name="cmbMeza" id="cmbMeza" ng-model="venta.cmbMeza" class="form-control" >
                                                    <option value="">SELECCIONE</option>
                                                    <option value="1">MESA 1</option>
                                                    <option value="2">MESA 2</option>
                                                    <option value="3">MESA 3</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback" style="margin-top: 20px">
                                            <div class="form-group">
                                                <label style="margin-left: 1px;" for="">DETALLES</label>
                                                <hr style="margin: 0;">
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                            <div class="form-group" style="width: 80%;display: inline-block;">
                                                <label>PRODUCTO</label>
                                                <input disabled type="text" class="form-control" id="txtNombreDetalleProducto" name="txtNombreDetalleProducto" ng-model="venta.txtNombreDetalleProducto" placeholder="Producto">
                                                
                                            </div>
                                            <button type="button" data-toggle="modal" data-backdrop="static" data-target="#modalProducto" style="margin-bottom: 5px;" class="btn btn-info"><i class="fa fa-search"></i></button>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                            <div class="form-group">
                                                <label>CANTIDAD</label>
                                                <input type="text" class="form-control" id="txtDetalleCantidad" name="txtFecha" ng-model="venta.DetalleCantidad" placeholder="Cantidad" >
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                            <div class="form-group" style="width: 80%;display: inline-block;">
                                                <label>PRECIO</label>
                                                <input type="text" disabled class="form-control" id="txtDetallePrecio" name="txtDetallePrecio" ng-model="venta.txtDetallePrecio" placeholder="Precio">
                                            </div>
                                            <button type="button" ng-click="agregarDetalle();" style="margin-bottom: 5px;" class="btn btn-success"><i class="fa fa-plus"></i></button>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="detalles">
                                                <div class="table-responsive" style="height: 200px;overflow-y: scroll;background: lightyellow;">
                                                    <table class="table" style="font-size: 11px;">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 30px;" class="text-center">#</th>
                                                                <th style="width: 110px;" class="text-center">PRODUCTO.</th>
                                                                <th style="width: 60px;" class="text-center">PRECIO</th>
                                                                <th style="width: 75px;" class="text-center">CANTIDAD</th>
                                                                <th style="width: 75px;" class="text-center">TOTAL</th>
                                                                <th style="width: 30px;" class="text-center">#</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="item in detalles">
                                                                <td class="text-center" style="width: 30px;">{{item.nro}}</td>
                                                                <td class="text-center" style="width: 110px;">{{item.producto}}</td>
                                                                <td class="text-center" style="width: 60px;">{{item.precio | number:2}}</td>
                                                                <td class="text-center" style="width: 75px;">{{item.cantidad | number:0}}</td>
                                                                <td class="text-center" style="width: 75px;">{{item.total | number:2}}</td>
                                                                <td style="width: 30px;" class="text-center">
                                                                    <button type="button" class="btn btn-danger"><span class="fa fa-trash-o"></span></button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Total venta: {{totalVenta | number:2}}</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="modalProducto" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <form id="frmCliente" class="form-horizontal form-label-left input_mask">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title text-center" id="myModalLabel">Listado de Productos</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="x_panel" style="border: 0;padding: 0;margin: 0;">
                                <div class="x_content" style="margin: 0;">
                                    <div class="table-responsive" style="height: 400px;overflow-y: scroll;background: lightyellow;">
                                        <table class="table" style="font-size: 11px;">
                                            <thead>
                                                <tr>
                                                    <th style="width: 30px;" class="text-center">#</th>
                                                    <th style="width: 110px;" class="text-center">PRODUCTO.</th>
                                                    <th style="width: 110px;" class="text-center">PRECIO</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in productos">
                                                    <td class="text-center" style="width: 30px;">{{item.id}}</td>
                                                    <td class="text-center" style="width: 110px;">{{item.producto}}</td>
                                                    <td class="text-center" style="width: 110px;">{{item.precio}}</td>
                                                    <td style="width: 30px;" class="text-center">
                                                        <button ng-click="agregarProductoDetalle(item);" type="button" class="btn btn-success"><span class="fa fa-plus"></span></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>